<ion-header class="ion-no-border">
  <ion-toolbar>
    {{id_mois}} {{annee}}
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-card class="ion-margin-bottom">
      <ion-img src="assets/report.png"></ion-img>
      <ion-card-header>
        <canvas id="myChart" width="400" height="400"></canvas>
      </ion-card-header>
    </ion-card>
  </div>
  <p></p>

  <div class="ion-padding">
    <ion-card class="ion-margin-bottom">
      <ion-card-header>
        <canvas id="myChartPie" width="400" height="400"></canvas>
      </ion-card-header>
    </ion-card>
    <br>
    <br>
    <br>
    <br>
    <br> <br>
    <br>
    <br>
    <br>
    <br>
  </div>

  <ion-card class="card3">
    <ion-card-header>
      <ion-row class="ion-align-items-center">
        <ion-col size="6">
          <ion-badge color="warning" mode="ios">
            <ion-icon name="dollar"></ion-icon>
            Résumé
          </ion-badge>
        </ion-col>
        <ion-col size="6" class="ion-text-right">
          <ion-card-subtitle *ngIf="total>0" id='green'>{{ total }}$ </ion-card-subtitle>
          <ion-card-subtitle *ngIf="0>total" id='red'>{{ total }}$ </ion-card-subtitle>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="8">
          <ion-card-subtitle *ngIf="total>0" id='green'>Pour un budget de {{budget}}$ Vous avez pu économisé de l'argent
            ce
            mois-ci</ion-card-subtitle>
          <ion-card-subtitle *ngIf="0>total" id='red'>Pour votre budget de {{budget}}$ Vous n'avez pas
            économisé de l'argent ce
            mois-ci et vous êtes en déficie de {{total * -1}}</ion-card-subtitle>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>


</ion-content>
<div class="ion-padding">
  <ion-badge color="dark" mode="ios">
    par Woodsen Valbrun
  </ion-badge>
</div>